body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Page_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:30px;
    top:8px;
    width:1126px;
    height:735px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1132px;
    height:741px;
}

.u1 {
    position:absolute;
    left:2px;
    top:360px;
    width:1122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Page_1_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:228px;
    top:14px;
    width:729px;
    height:729px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:729px;
    height:729px;
}

.u3 {
    position:absolute;
    left:2px;
    top:356px;
    width:725px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:496px;
    top:561px;
    width:195px;
    height:68px;
    ;
    ;
    text-align: center;;
    font-family:'Montserrat';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5_normal {
    background-image: url('../Page_1_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:504px;
    top:569px;
    width:53px;
    height:53px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:53px;
    height:53px;
}

.u6 {
    position:absolute;
    left:2px;
    top:18px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:1051px;
    top:38px;
    width:61px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Page_1_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:998px;
    top:26px;
    width:44px;
    height:44px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:44px;
    height:44px;
}

.u9 {
    position:absolute;
    left:2px;
    top:14px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:50px;
    top:42px;
    width:198px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

