@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-151:before {
	content: "\e000";
}
.flaticon-301:before {
	content: "\e001";
}
.flaticon-452:before {
	content: "\e002";
}
.flaticon-alarm1:before {
	content: "\e003";
}
.flaticon-apple54:before {
	content: "\e004";
}
.flaticon-apron1:before {
	content: "\e005";
}
.flaticon-barbecue1:before {
	content: "\e006";
}
.flaticon-big15:before {
	content: "\e007";
}
.flaticon-bottle22:before {
	content: "\e008";
}
.flaticon-bowl12:before {
	content: "\e009";
}
.flaticon-carrot3:before {
	content: "\e00a";
}
.flaticon-chef13:before {
	content: "\e00b";
}
.flaticon-coins24:before {
	content: "\e00c";
}
.flaticon-cook1:before {
	content: "\e00d";
}
.flaticon-cooker1:before {
	content: "\e00e";
}
.flaticon-cooking1:before {
	content: "\e00f";
}
.flaticon-cooking12:before {
	content: "\e010";
}
.flaticon-cooking15:before {
	content: "\e011";
}
.flaticon-cooking16:before {
	content: "\e012";
}
.flaticon-cooking5:before {
	content: "\e013";
}
.flaticon-cooking9:before {
	content: "\e014";
}
.flaticon-corn3:before {
	content: "\e015";
}
.flaticon-covered16:before {
	content: "\e016";
}
.flaticon-cucumber1:before {
	content: "\e017";
}
.flaticon-cup38:before {
	content: "\e018";
}
.flaticon-dessert1:before {
	content: "\e019";
}
.flaticon-earth148:before {
	content: "\e01a";
}
.flaticon-eggplant1:before {
	content: "\e01b";
}
.flaticon-food6:before {
	content: "\e01c";
}
.flaticon-foursquare5:before {
	content: "\e01d";
}
.flaticon-garlic:before {
	content: "\e01e";
}
.flaticon-heating5:before {
	content: "\e01f";
}
.flaticon-hot57:before {
	content: "\e020";
}
.flaticon-increasing7:before {
	content: "\e021";
}
.flaticon-kitchen:before {
	content: "\e022";
}
.flaticon-kitchen17:before {
	content: "\e023";
}
.flaticon-kitchen23:before {
	content: "\e024";
}
.flaticon-kitchen56:before {
	content: "\e025";
}
.flaticon-kitchen65:before {
	content: "\e026";
}
.flaticon-left1:before {
	content: "\e027";
}
.flaticon-lemon2:before {
	content: "\e028";
}
.flaticon-login2:before {
	content: "\e029";
}
.flaticon-logout1:before {
	content: "\e02a";
}
.flaticon-meat4:before {
	content: "\e02b";
}
.flaticon-meat7:before {
	content: "\e02c";
}
.flaticon-onion1:before {
	content: "\e02d";
}
.flaticon-piggy10:before {
	content: "\e02e";
}
.flaticon-piggy6:before {
	content: "\e02f";
}
.flaticon-pitcher5:before {
	content: "\e030";
}
.flaticon-plate15:before {
	content: "\e031";
}
.flaticon-plate7:before {
	content: "\e032";
}
.flaticon-recipes:before {
	content: "\e033";
}
.flaticon-right:before {
	content: "\e034";
}
.flaticon-rolling:before {
	content: "\e035";
}
.flaticon-salty:before {
	content: "\e036";
}
.flaticon-stopwatch6:before {
	content: "\e037";
}
.flaticon-sweet8:before {
	content: "\e038";
}
.flaticon-table10:before {
	content: "\e039";
}
.flaticon-temperature8:before {
	content: "\e03a";
}
.flaticon-text30:before {
	content: "\e03b";
}
.flaticon-thermostat:before {
	content: "\e03c";
}
.flaticon-tomato3:before {
	content: "\e03d";
}
.flaticon-users6:before {
	content: "\e03e";
}
.flaticon-washing3:before {
	content: "\e03f";
}
.flaticon-water42:before {
	content: "\e040";
}
.flaticon-watermelon2:before {
	content: "\e041";
}
.flaticon-whisk1:before {
	content: "\e042";
}
