body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Page_2_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:629px;
    top:114px;
    width:244px;
    height:287px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:293px;
}

.u1 {
    position:absolute;
    left:2px;
    top:136px;
    width:240px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Page_2_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:804px;
    top:100px;
    width:88px;
    height:88px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:94px;
    height:94px;
}

.u3 {
    position:absolute;
    left:2px;
    top:36px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:216px;
    top:519px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:216px;
    top:545px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

